
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background-color: #121212;
  &__inner {
    display: flex;
    & h1 {
      padding-right: 30px;
      font-size: 10vw;
      white-space: nowrap;
      animation: kf-marquee 60s linear infinite;
      text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc,
        1px 1px 0 #ccc;
      color: rgb(20, 19, 19);
      transition: color 0.3s linear;
      &:hover {
        color: #fcfcfc;
      }
    }
  }
}

@keyframes kf-marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
